html{
    scroll-behavior: smooth;
}

.nav-container{
    display:flex;
    justify-content: flex-start;
    flex-direction:row;
    background-color:#272727
}


.item{
    font-family: 'Roboto Mono', monospace;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    letter-spacing: 0.156rem;
}
.logo {
    margin: 0.625rem 0px 0px 0.938rem;
    cursor: pointer;
}


.item:hover{
    color: #8739F9;
}
body{
    background-color: #242424;
}
.content-container{
    display:flex;
    flex-direction: column;
}
.text{
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size:4.5rem;
    text-align: center;
    letter-spacing: 0.156rem;
    margin-top: 3rem;
}
.button{
    padding: 1.5rem 5.5rem 1.5rem 5.5rem;
    border: none;
    border-radius: 28px;
    transition-duration:0.4s;
    margin:auto;
    margin-top: 3.5rem;
}

button:hover{
    color: #363636;
    background-color:#8739F9;
}
.link{
    text-decoration: none;
    text-align: center;
    color: #363636;
    font-weight: bold;
}

.link:hover{
    color: #363636;
}

@media (max-width: 575.98px) { 
    .nav-container{
        flex-direction: column;
    }

}

@media (max-width: 575.98px) { 
    .nav-container{
        flex-direction: column;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

    .nav-container{
        flex-direction: column;
    }
}


/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .nav-container{
        flex-direction: column;
    }
}
    /* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

    .nav-container{
        flex-direction: column;
    }
}


/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

    .nav-container{
        flex-direction: column;
    }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

    .nav-container{
        flex-direction: column;
    }
}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    .nav-container{
        flex-direction: column;
    }
}