
.nav-container{
    display:flex;
    justify-content: flex-start;
    flex-direction:row;
    background-color:#272727
}


.item{
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    letter-spacing: 0.156rem;
}
.logo {
    margin: 0.625rem 0px 0px 0.938rem;
    cursor: pointer;
}

@media (max-width: 575.98px) { 
    .nav-container{
        flex-direction: column;
    }



}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .nav-container{
        flex-direction: column;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .nav-container{
        flex-direction: column;
    }
}


/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    .nav-container{
        flex-direction: column;
    }
}
